# Función 'describe_df'

In [3]:
import pandas as pd

In [7]:
def describe_df(df):
    """
    Genera un resumen estadístico de un dataframe proporcionando información sobre el tipo de datos,
    porcentaje de valores nulos, valores únicos y cardinalidad de cada columna, pero con las filas
    y columnas completamente intercambiadas respecto a la versión inicial.

    Argumentos:
    df (pd.DataFrame): El dataframe a describir.

    Retorna:
    pd.DataFrame: Un nuevo dataframe con las estadísticas de cada columna del dataframe original,
                  con las estadísticas como columnas y las características de los datos como filas.
    """
    # Preparar el dataframe de resumen con filas y columnas intercambiadas
    summary = pd.DataFrame({
        'Data type': df.dtypes,
        'Percent missing (%)': df.isna().mean() * 100,
        'Unique values': df.nunique(),
        'Cardinality percent (%)': (df.nunique() / len(df)) * 100
    })

    return summary.transpose()  # Transponer el resultado 

# Utilizar la función final en el mismo DataFrame de ejemplo
# describe_df(data_example)

In [5]:
df = pd.read_csv('./data/titanic.csv')

In [8]:
describe_df(df)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
Data type,int64,int64,object,float64,int64,int64,float64,object,object,object,bool,object,object,object,bool
Percent missing (%),0.0,0.0,0.0,19.86532,0.0,0.0,0.0,0.224467,0.0,0.0,0.0,77.216611,0.224467,0.0,0.0
Unique values,2,3,2,88,7,7,248,3,3,3,2,7,3,2,2
Cardinality percent (%),0.224467,0.3367,0.224467,9.876543,0.785634,0.785634,27.833895,0.3367,0.3367,0.3367,0.224467,0.785634,0.3367,0.224467,0.224467